/*----------------
      RESET
----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
      COMMONS
----------------*/

body {
    background-image: url("../img/cork.png");
    font-family: "Edu TAS Beginner", serif;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.col {
    width: 100%;
    padding: 1rem;
}

.img-fluid {
    width: 100%;
    height: auto;
}

/*----------------
      HEADER
----------------*/

header {
    background-image: url("../img/wall.png");
    text-align: center;
    padding: 1.5rem 1.2rem;
    font-size: 2.375rem
}


/*----------------
      MAIN
----------------*/
.card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 8px 6px;
    padding: 1rem;
    max-width: 100%;
    max-height: 25rem;
    position: relative;
    transition: 0.3s
}

.card:hover {
    transform: rotate(10deg) scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 15px 40px, rgba(0, 0, 0, 0.23) 0px 12px 10px;
    cursor: pointer;

}

.desc {
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
    text-transform: capitalize;
}

.image {
    min-width: 100%;
}

.pin {
    width: 1.875rem;
    position: absolute;
    top: -2%;
    left: 46%;
}

/*---------------
    OVERLAY
-----------------*/
#image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; 
    align-items: center;
    justify-content: center;
    z-index: 1000;
    flex-direction: column;
}

#image-overlay.active {
    display: flex;
}

#image-overlay img {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

#image-overlay button {
    font-family: inherit;
    font-size: 1.25rem;
    padding: 0.2rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s;
    color: inherit;
}
#image-overlay button:hover{
    transform: scale(1.2);
}


/*----------------
  MEDIA QUERIES
----------------*/

/* from 768px to x */

@media screen and (min-width: 768px) {

    .col {
        width: calc(100% / 2);
    }
}

/* from 1024px to x */

@media screen and (min-width: 1024px) {

    .container {
        max-width: 55%;
    }

    .col {
        width: calc(100% / 3);
    }
}