/*----------------
      RESET
----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----------------
      COMMONS
----------------*/

body{
    background-image: url("../img/cork.png");
    font-family: "Edu TAS Beginner", serif;
}


/*----------------
      HEADER
----------------*/

header{
    background-image: url("../img/wall.png");
    text-align: center;
    padding: 1.5rem 1.2rem;
    font-size: 2.375rem
}
